#skills {
    color:#006064;
}

.skillIcon {
    color: #006064;
    font-size: 150px;
    text-shadow: 2px 2px 2px grey;
    
}

.skillM {
    font-size:100px;
}


.skill {
    margin: 20px;
}
.skill p {
    text-align: center;
    font-size: 24px;
}
.smallTitle {
    margin: 30px;
    font-size: 30px;
}
