.card-panel {
    text-align: center;
    color: white;
    font-size: 18px;
}
#agpic{
    border-radius: 50%;
    max-width: 100%;
}
#about {
    margin-top: 50px;
    text-align: center;

}

#shedPlug {
    font-size: 12px;
}