#contact {
    text-align: center;
    background-color: #006064;
    color:white;
    height: 75vh;
    font-size:35px;
    bottom: 0;
}
#contact h1 {
    padding-top:200px;
    text-decoration: underline;
}

#contact .fab {
    color: white;
    font-size: 80px;
    margin: 10px;
}

#contact .fab:hover {
    color: skyblue;
}