#contact {
    text-align: center;
    background-color: #006064;
    color:white;
    height: 85vh;
}
#contact h1 {
    padding-top:200px;
}

#contact a {
    color: white;
    font-size: 20px;
}

#contact a:hover {
    color: skyblue;
}