.App {
  background-image: url("./images/brickwall.png");
  font-family: 'Montserrat Alternates', sans-serif;
}

/* #content {
  margin-left: 18%;
  
} */

.title {
  color: #006064;
  text-align: center;
}

.row .col.s12 {
  margin-left: 0;
}